<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.FACTORY_NAME' | translate }}</label>
      <input type="text" class="form-control" formControlName="factoryName">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.EMPLOYEE_NAME' | translate }}</label>
      <input type="text" class="form-control" formControlName="workerName">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.EMPLOYEE_CODE' | translate }}</label>
      <input type="text" class="form-control" formControlName="workerCode">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.ADDRESS' | translate }}</label>
      <input type="text" class="form-control" formControlName="address">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.VILLAGE' | translate }}</label>
      <input type="text" class="form-control" formControlName="village">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.TALUKA' | translate }}</label>
      <input type="text" class="form-control" formControlName="taluka">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.DISTRICT' | translate }}</label>
      <input type="text" class="form-control" formControlName="district">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.STATE' | translate }}</label>
      <input type="text" class="form-control" formControlName="state">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.DESIGNATION' | translate }}</label>
      <input type="text" class="form-control" formControlName="designation">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.AADHAR' | translate }}</label>
      <input type="text" class="form-control" formControlName="aadhaar">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.PAN' | translate }}</label>
      <input type="text" class="form-control" formControlName="pan">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.MOBILE1' | translate }}</label>
      <input type="text" class="form-control" formControlName="mobile1">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.PAN' | translate }}</label>
      <input type="text" class="form-control" formControlName="mobile2">
    </div>

    <div class="col-md-6">
      <label class="form-label">{{ 'EMPLOYEE.MOBILE2' | translate }}</label>
      <input type="number" class="form-control" formControlName="salary">
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <button type="button" class="btn btn-secondary me-2" (click)="onCancel()">{{'EMPLOYEE.CANCEL' | translate}}</button>
    <!-- [disabled]="empForm.invalid" -->
    <button type="submit" class="btn btn-success" >
      {{ employee ? ('Update' | translate) : ('EMPLOYEE.SUBMIT' | translate) }}
    </button>
  </div>
</form>
