<!-- Mobile Hamburger Button -->
<button class="hamburger" (click)="toggleMobileMenu()">
  <i class="fas fa-bars"></i>
</button>

<!-- Sidebar -->
<div class="sidenav" 
     [ngClass]="[collapsed ? 'sidenav-collapsed' : '', isMobileMenuOpen ? 'show' : '']">
  
  <div class="logo-container">
    <button class="logo" (click)="toggelCollapse()">A</button>
    <div class="logo-text" *ngIf="collapsed">Vikas L</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenave()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>

  <ul class="side-nav">
    <li class="side-nav-item" *ngFor="let data of navdata">
      <a class="side-nav-link" 
         [routerLink]="[data.routerLink]"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">
          {{ data.label | translate }}
        </span>
      </a>
    </li>
  </ul>
</div>
